<h1>Edit a post</h1>

{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{message}}

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/each}}

<form action="/admin/posts/edit/{{post._id}}?_method=PUT" method="post" class="col-md-6 col-sm-12" enctype="multipart/form-data">
    <div class="form-group row">
        <label for="title" class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-10">
            <input name="title" type="text" required class="form-control" id="title" placeholder="Enter title" value="{{post.title}}">
        </div>
    </div>
    <div class="form-group row">
        <label for="file" class="col-sm-2">Upload Image</label>
        <div class="col-sm-10">
            {{#if post.file}}
            <img src="/uploads/{{post.file}}" alt="thumbnail" class="img-responsive" height="200">
            {{/if}}
            <input type="file" name="file" id="file" class="form-control-file">
        </div>
    </div>
    <div class="form-group row">
        <label for="body" class="col-sm-2 col-form-label">Body</label>
        <div class="col-sm-10">
            <textarea required name="body" cols="30" rows="10" class="form-control" id="body"
                placeholder="Enter body">{{post.body}}</textarea>
        </div>
    </div>
    <div class="form-group row">
        <label for="status" class="col-sm-2 col-form-label">Status</label>
        <div class="col-sm-10">
            <select name="status" id="status" class="form-control">
                {{#select post.status}}
                <option value="draft">Draft</option>
                <option value="public">Public</option>
                <option value="private">Private</option>
                {{/select}}
            </select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">Comments</div>
        <div class="col-sm-10">
            <div class="form-check">
                <input name="allowComments" class="form-check-input" type="checkbox" id="allowComments"
                    style="margin: 0; position: unset;" {{#if post.allowComments}}checked="checkerd"{{/if}}>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>